extends layouts/layout

block content
    .container
        if (!user)
            h1= title
            p Welcome to #{title}
            a(href="/login") Login
            br
            a(href="/register") Register
        if (user)
            h1 Welcome #{user.username1}
            p You are currently logged in as #{user.username1}
            p Session ID #{user._id}
            a(href="/logout") Logout
            br
            a(href="/dashboard") Dashboard